/* @media all and (min-width:768px) and (max-width:991px){
    .custom-padding{
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
    p{
        
    }
}
@media all and (min-width:992px) and (max-width:1199px){
    .custom-padding{
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}
@media all and (min-width:1200px) and (max-width:1399px){
    .custom-padding{
        padding-left: 6px;
        padding-right: 6px;
    }
}
@media all and (min-width:1400px){
    .custom-padding{
        padding-left: 6px;
        padding-right: 6px;
    }
} */
/* .section-head h3{
    font-weight: 900;
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
} */